{% extends 'base.html' %}

{% block title %} | Login {% endblock %}

{% block content %}

<div class="auth-content">
    <div class="auth-container">
        <span>
            {% include 'alerts.html' %}
        </span>
        <div class="auth-card">
            <div class="auth-header">
                <h2><span class="header-icon">&#128273;</span> Forgot Password</h2>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" name="email" id="email" class="form-control"
                        placeholder="Enter your email address" required>
                </div>
                <button type="submit" class="btn">Send Reset Link</button>
            </form>
            <!-- Additional buttons for Reset Password and Register -->
            <div class="form-group" style="text-align: center; display: flex; justify-content: space-between;">
                <a href="" style="color: #1e3a64;">Login</a>
                <a href="" style="color: #1e3a64;">Create account</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}