<section class="homepage-header">
  <div class="homepage-header-buttons">
      {% if user.is_authenticated %}
           
          <a class="" href="{% url 'create_advert'%}">Create Advert</a>
          <a href="{%url 'my_job'%}">My Jobs</a>
          <a href="{%url 'my_application'%}">My Applications</a>
          <a href="{% url 'logout'%}">Logout</a>
          
          
      {% else %}                                                                            
      <a href="{%url 'login'%}">Login</a>
      <a href="{% url 'register'%}">Register</a>
      {% endif %}
  </div>
  <h1>Find Your Dream Job <a style="font-size: larger;" href="/">🏠</a></h1> 
  <p>The swift way to hire, the smart way to find offers.</p>
  <div style="display: flex; align-items: center; justify-content: center;">
      {% include 'alerts.html' %}
  </div>
</section>
